<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="GamePath" value="C:\Program Files (x86)\Steam\steamapps\common\Warframe\Tools\Launcher.exe" />
		<add key="LauncherX" value="1526" />
		<add key="LauncherY" value="970" />
		<add key="GetMouseDelay" value="2" />
		<add key="LauncherLoadTime" value="6" />
		<add key="GameLoadTime" value="30" />
		<add key="ExitWaitTime" value="30" />
		<add key="LoginTimeHours" value="04" />
		<add key="LoginTimeMinutes" value="00" />
		<add key="LoginTimeSeconds" value="00" />
	</appSettings>
</configuration>